---
import Header from '../components/Header.astro'
import '../styles/globals.css'
import Footer from '../components/Footer.astro'
const pageTitle = "About"
---
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>{pageTitle}</title>
    <style>
      h1 {
        color: purple;
        font-size: 4rem;
      }
    </style>
  </head>
	<body>
        <Header />
		<h1>{pageTitle}</h1>
        <p>This is a simple Astro site.</p>
        <p>Astro is a modern static site generator that allows you to build fast, content-focused websites.</p>
        <p>Learn more at <a href="https://astro.build">astro.build</a></p>
		<Footer />
		<script>
			import "../scripts/menu.js"
		</script>
	</body>
</html>
