---

---
<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Astro</title>
	</head>
	<body>
        <a href="/">index</a>
        <a href="/blog">blog</a>
		<h1>About...</h1>
        <p>This is a simple Astro site.</p>
        <p>Astro is a modern static site generator that allows you to build fast, content-focused websites.</p>
        <p>Learn more at <a href="https://astro.build">astro.build</a></p>
	</body>
</html>
